* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  color: #fff;
  padding: 1rem;
  width: 100%;
  display: flex;
}
nav{

 width: 80%;

}
li{

   display: flex;
   width: 100%;
}

li a{

    margin-left: 10%;
    text-decoration: none;
    font-family: "Courier Prime", serif;
    font-size: 130%;

}


.logo{

width: 20%;

}